.chat_log{ 
    margin-top: 5%;
    width: 100%; 
    height: 500px; 
    background-color: #333333;
    color: antiquewhite;
    border-color: black;
    overflow: scroll;
}
.message{ 
    width: 110%; 
    margin-top: 1%;
}
.chat{ width: 80%; }

#chatButton{
    width: 100%;
}

#background{
    /* color: azure; */
    background-color: #262626;
}

.messageContents{
    word-break: break-all;
    margin: 2%;
    padding: 2%;
    padding-left: 4%;
    border: 1px solid #1a1a1a;
    background-color: #242424;
    border-radius: 10px 10px 10px 10px;
}

.checkMessageContents{
    word-break: break-all;
    margin: 2%;
    padding: 2%;
    color: antiquewhite;
    padding-left: 4%;
    font-size: 10px;
    text-align: center;
    /* border: 1px solid #b18484; */
    /* background-color: #dba6a6; */
    border-radius: 10px 10px 10px 10px;
}