.hintBox {
  padding: 5px;
  width: 100%;
  height: 170px;
  overflow: scroll;
  border: solid 1px;
}

::-webkit-scrollbar { 
  display: none; 
}

#startPause, #button{
  display: block;
}

/* seve col */

@media (min-width: 768px){
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 100%;
    *width: 100%;
  }
}

@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}

/**
  *  The following is not really needed in this case
  *  Only to demonstrate the usage of @media for large screens
  */    
@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}


.chat_log{
  width: 20%;
  float: left;
  height: 200px;
  background-color: #333333;
  color: antiquewhite;
  border-color: black;
}

#roomTitleWrapper{
  display: flex;
}

.roomTitle{
  width: 20%;
  float: left;
  color: antiquewhite;
  text-align: center;
}

.message{ width: 90%; }
.chat{ width: 9%; }
.roomContents {
  display: inline-block;
  width: 100%;
}
.time{
  color: antiquewhite;
}
.name {
  display: none;
  width: 10%;
}

.timeContents {
  display: inline-block;
}

.roomWrapper {
  color: black;
  background-color: #333333;
  margin-top: 15px;
  padding: 10px;
  border: solid 1px;
  width: 49.7%;
  display: inline-block;
}

.contents {
  padding-left: 10px;
}

#background{
  /* color: azure; */
  background-color: #262626;
}

#modalContent{
  background-color: none;
  border: none;
}

.w3-modal {
  padding-top: 25%;
}

.currentTimeContent{
  padding: 5px;
  padding-top: 77px;
  width: 100%;
  height: 204px;
  overflow: auto;
  border: solid 1px;
  text-align: center;
}

#currentTimer{
  color: antiquewhite;
  font-size: 25px;
}