.inputLabel {
    color: whitesmoke;
}

#controllSelector {
    margin: 1% 2%;
}

.input-group-addon {
    line-height: 2;
}

#spinner {
    display: none;
    position: absolute;
    z-index: 100;
    margin: 20% 50%;
}

#background {
    position: relative;
}

#hintDiv {
    margin: 1%;
    padding: 1%;
    position: relative;
    height: auto;
    min-height: 80% !important;
    width: 98%;
    height: 40rem;
    overflow: scroll;
    border: solid 1px black;
}
